body {
   font-family: 'Srisakdi', cursive;
   background-image:url("https://cdn2.vectorstock.com/i/1000x1000/49/06/cute-food-background-kawaii-cartoons-vector-20294906.jpg");
}



.container, .results {
    width: 400px;
    padding: 10px;
    margin: 50px auto;
    border: 5px solid black;
    border-radius: 20px;
    background-color:#FC6C6C ;
    
    transition: background-color .5s ease-in-out;
    transition: border .2s ease-in-out;
}


.container:hover {
    background-color:lightblue;
    border-color: black;
}

.results:hover {
    background-color: lightblue; 
}
    